.grid {
	display: grid;
	column-gap: 10px;
	row-gap: 15px;
	margin-top: 15px;
	align-items: center;
}

.package-details {
	grid-template-columns: 75px 200px 75px;
}

.checkitems {
	grid-template-columns: 75px 500px 100px 100px;
}
