.grid {
	display: grid;
	column-gap: 10px;
	row-gap: 15px;
	margin-top: 15px;
	align-items: center;
}

.package-details {
	grid-template-columns: 75px 200px 75px;
}

.checkitems {
	grid-template-columns: 75px 500px 100px 100px;
}

.checkitems p > b {
    font-size: 2rem;
    line-height: 1;
}

form .submit-row {
	margin-top: 10px;
    text-align: left;       /* or center / left */
    grid-column: 1 / -1;     /* span full width */
}

.package-details select {
    width: 100%;
}
