{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>AMQ 130.1 - Cable Installation Checklist</title>
    <link rel="stylesheet" href="{% static 'forms/amq/130_1.css' %}">
    {{ form.media }}
{% endblock %}

{% block title %}
<h1>AMQ 130.1</h1>
<h3>Cable Installation Checklist</h3>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <!-- header -->
    <div class="package-details grid">
        <label id="project-label" 
			style="grid-column: 1 / span 1; grid-row: 1 / span 1">
			{{form.project.label}}
		</label>
		<div style="grid-column:2/span 2; grid-row: 1/span 1">
			{{ form.project }}
		</div>
        <label id="project-no-label"
			style="grid-column:1/span 1; grid-row: 2/span 1">
			{{form.project_no.label}}
		</label>
		<div style="grid-column:2/span 1; grid-row: 2/span 1">
			{{form.project_no}}
		</div>
        <label id="sheet-no-label"
            style="grid-column:3/span 1; grid-row: 2/span 1">
            {{form.iwp.label}}
        </label>
        <div style="grid-column:4/span 1; grid-row: 2/span 1">
            {{form.iwp}}
        </div>
        <label id="drawing-label"
            style="grid-column:1/span 1; grid-row: 3/span 1">
            {{form.drawing.label}}
        </label>
        <div style="grid-column:2/span 1; grid-row: 3/span 1">
            {{form.drawing}}
        </div>
        <label id="cable_size-label"
            style="grid-column:1/span 1; grid-row: 4/span 1">
            {{form.cable_size.label}}
        </label>
        <div style="grid-column:2/span 1; grid-row: 4/span 1">
            {{form.cable_size}} 
        </div>
        <label id="gnd_size-label"
            style="grid-column:3/span 1; grid-row: 4/span 1">
            {{form.gnd_size.label}}
        </label>
        <div style="grid-column:4/span 1; grid-row: 4/span 1">
            {{form.gnd_size}}   
        </div>
        <label id="cable_tag_id-label"
            style="grid-column:1/span 1; grid-row: 5/span 1">
            {{form.cable_tag_id.label}}
        </label>
        <div style="grid-column:2/span 1; grid-row: 5/span 1">
            {{form.cable_tag_id}}   
        </div>
        <label id="cable_per_phase-label"
            style="grid-column:3/span 1; grid-row: 5/span 1">
            {{form.cable_per_phase.label}}
        </label>
        <div style="grid-column:4/span 1; grid-row: 5/span 1">
            {{form.cable_per_phase}}    
        </div> 
    </div>

    <!-- checklist -->
    <div class="grid checkitems">
        <p>Item</p>
        <p>Description</p>
        <p>Corrections Needed</p>
        <p>Corrections Completed</p>

        <!-- 1 -->
        <p>1</p>
        <div>{{ form.raceways_inspected }} {{ form.raceways_inspected.label }}</div>
        {{ form.raceways_inspected_corrections_needed }}
        {{ form.raceways_inspected_corrections_completed }}

        <!-- 2 -->
        <p>2</p>
        <div>{{ form.underground_conduits_swabbed }} {{ form.underground_conduits_swabbed.label }}</div>
        {{ form.underground_conduits_swabbed_corrections_needed }}
        {{ form.underground_conduits_swabbed_corrections_completed }}

        <!-- 3 -->
        <p>3</p>
        <div>{{ form.pull_rope_size }} {{ form.pull_rope_size.label }}</div>
        {{ form.pull_rope_size_corrections_needed }}
        {{ form.pull_rope_size_corrections_completed }}

        <!-- 4 -->
        <p>4</p>
        <div>{{ form.cables_brought_up_safe_temp }} {{ form.cables_brought_up_safe_temp.label }}</div>
        {{ form.cables_brought_up_safe_temp_corrections_needed }}
        {{ form.cables_brought_up_safe_temp_corrections_completed }}

        <!-- 5 -->
        <p>5</p>
        <div>{{ form.pulling_tension_monitor }} {{ form.pulling_tension_monitor.label }}</div>
        {{ form.pulling_tension_monitor_corrections_needed }}
        {{ form.pulling_tension_monitor_corrections_completed }}

        <!-- 6 -->
        <p>6</p>
        <div>{{ form.pulling_lubricants }} {{ form.pulling_lubricants.label }}</div>
        {{ form.pulling_lubricants_corrections_needed }}
        {{ form.pulling_lubricants_corrections_completed }}

        <!-- 7 -->
        <p>7</p>
        <div>{{ form.cable_bending_radii }} {{ form.cable_bending_radii.label }}</div>
        {{ form.cable_bending_radii_corrections_needed }}
        {{ form.cable_bending_radii_corrections_completed }}

        <!-- 8 -->
        <p>8</p>
        <div>{{ form.cable_marked_identified }} {{ form.cable_marked_identified.label }}</div>
        {{ form.cable_marked_identified_corrections_needed }}
        {{ form.cable_marked_identified_corrections_completed }}

        <!-- 9 -->
        <p>9</p>
        <div>{{ form.reference_specification_sheets }} {{ form.reference_specification_sheets.label }}</div>
        {{ form.reference_specification_sheets_corrections_needed }}
        {{ form.reference_specification_sheets_corrections_completed }}

        <!-- 10 -->
        <p>10</p>
        <div>{{ form.cable_connectors_installation }} {{ form.cable_connectors_installation.label }}</div>
        {{ form.cable_connectors_installation_corrections_needed }}
        {{ form.cable_connectors_installation_corrections_completed }}

        <!-- 11 -->
        <p>11</p>
        <div>{{ form.cable_ends_sealed }} {{ form.cable_ends_sealed.label }}</div>
        {{ form.cable_ends_sealed_corrections_needed }}
        {{ form.cable_ends_sealed_corrections_completed }}

        <!-- 12 -->
        <p>12</p>
        <div>{{ form.insulation_stripped }} {{ form.insulation_stripped.label }}</div>
        {{ form.insulation_stripped_corrections_needed }}
        {{ form.insulation_stripped_corrections_completed }}

        <!-- 13 -->
        <p>13</p>
        <div>{{ form.conductors_tagged }} {{ form.conductors_tagged.label }}</div>
        {{ form.conductors_tagged_corrections_needed }}
        {{ form.conductors_tagged_corrections_completed }}

        <!-- 14 -->
        <p>14</p>
        <div>{{ form.termination_points_per_drawings }} {{ form.termination_points_per_drawings.label }}</div>
        {{ form.termination_points_per_drawings_corrections_needed }}
        {{ form.termination_points_per_drawings_corrections_completed }}

        <!-- 15 -->
        <p>15</p>
        <div>{{ form.cables_routed_secured }} {{ form.cables_routed_secured.label }}</div>
        {{ form.cables_routed_secured_corrections_needed }}
        {{ form.cables_routed_secured_corrections_completed }}

        <!-- 16 -->
        <p>16</p>
        <div>{{ form.termination_kits }} {{ form.termination_kits.label }}</div>
        {{ form.termination_kits_corrections_needed }}
        {{ form.termination_kits_corrections_completed }}

        <!-- 17 -->
        <p>17</p>
        <div>{{ form.installation_conforms_NEC }} {{ form.installation_conforms_NEC.label }}</div>
        {{ form.installation_conforms_NEC_corrections_needed }}
        {{ form.installation_conforms_NEC_corrections_completed }}
    </div>


    <div class="remarks-row">{{ form.remarks }}</div>
    <div class="submit-row"><button type="submit">Submit</button></div>
</form>
{% endblock %}
